body {
  margin-top: 30px;
  color: #333;
  background: #34495E;
  color: white;
}

/* navbar */
.nav-brand img {
  max-width: 180px;
  float: left;
}

header {
  position: fixed;
  width: 100%
}

nav {
  padding: 20px 15px;
  background: #2e4052;
}

.nav {
  float: right;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
}

.nav li a.active {
  color: #26e4bf;
}

.nav li a:hover {
  color: #26e4bf;
}

.main-heading {
  background-image: url(img/family.jpg);
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-color: #777;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.heading-container {
  background: rgba(0,0,0,.5);
}

.page-heading {
  padding: 300px 0;
  text-align: center;
  color: white;
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1 }
}

.page-title, .subheading {
  max-width: 800px;
  margin: 0 auto;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;

  -webkit-animation: fadein 3s;
  -moz-animation: fadin 3s;
  -ms-animation: fadein 3s;
  animation: fadein 3s;
}

.subheading {
  font-size: 24px;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 70px;
}

.main-content p {
  line-height: 1.5;
  margin: 30px 0;
  font-size: 20px;
}

ul {
  padding-left: 20px
}

ul li {
  color: #3498db;
}

.wrapper {
  margin-top: 96px;
}

body.locations .main-heading {
  margin-bottom: 0;
}

body.locations .wrapper {
  margin-top: 0;
}

#fish-icon {
  max-width: 250px;
  margin: 0 auto;
}

.image-responsive {
  max-width: 100%;
}

#heading {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

#footer-content {
  display: flex;
  justify-content: space-around;
}

.container {
  float: left;
  padding-right: 15px;
}

footer {
  background-color: #2f4051;
  padding: 15px 0;
}

.footer-wrapper {
  padding-bottom: 40px;
  max-width: 900px;
  margin: 0 auto;
}

footer .footer-logo {
  float: left;
}

footer .footer-logo img {
  max-width: 100px;
}

.fa {
  color: #65809a;
}

footer .footer-socials {
  float: right;
}

footer .footer-socials ul li {
  display: inline-block;
}

/* Table Styles */
table {
  color: white;
  background: #2e4052;
  margin: 0 auto;
  margin-bottom: 50px;
  border-collapse: collapse;
}

table th {
  font-family: Lato, Arial, sans-serif;
  color: #34495e;
  background: #1abc9c;
}

table, tr, td, th {
  padding: 14px;
}

table td {
  border-bottom: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  color: #1ABC9C;
}

table thead tr th:first-of-type {
  border-right: 1px solid white;
}

table thead tr th:last-of-type {
  max-width: 60px;
}

table tbody tr {
  background: #2e4052;
}

table tbody tr td:first-of-type {
  border-right: 1px solid white;
}

table tfoot {
  border-bottom: transparent;
}

table tfoot td {
  border-bottom: transparent;
  color: white;
}

table tr:hover {
  background-color: #34495E;
}

table tfoot td:first-of-type {
  border-right: 1px solid white;
}

/* form styles */
.cookie-stand-form fieldset {
  max-width: 400px;
  margin: 0 auto;
  border: 0;
  background: #1bbc9b;
  margin-bottom: 40px;
  padding: 50px 30px 30px 30px;
}

.cookie-stand-form fieldset legend {
  font-size: 24px;
  text-align: center;
  position: relative;
  top: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.cookie-stand-form fieldset input {
  font-family: 'FontAwesome', Lato;
  margin-bottom: 15px;
  width: 100%;
  border: 0;
  height: 30px;
  color: #304152;
  font-size: 16px;
}

.cookie-stand-form fieldset input[placeholder] {
  padding-left: 5px;
}

.cookie-stand-form fieldset label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.cookie-stand-form fieldset button {
  border: 0;
  background-color: #2f4153;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 19px;
  font-size: 18px;
  border-radius: 0;
}

.cookie-stand-form fieldset button:hover {
  background-color: #34495E;
  cursor: pointer;
}

input:invalid {
  box-shadow: 0 0 5px 1px #f18b8b;
}

input:focus:invalid {
  outline: none;
}

input.error {
  box-shadow: 0 0 5px 3px #eb6868;
  -moz-box-shadow: 0 0 5px 3px #eb6868;
  -webkit-box-shadow: 0 0 5px 3px #eb6868;
}
.error.active {
  padding: 0.3em;
}

#message {
  max-width: 448px;
  margin: 0 auto;
  background: #d46464;
  border: 1px solid #eb6a6a;
  padding: 5px;
  color: #f9c9c9;
  display: none;
}

#message.active {
  display: block;
}

.store-wrapper {
  padding: 70px 0;
}
.store-container {
  max-width: 900px;
  margin: 0 auto;
}

.store-wrapper:nth-child(odd) {
  background-color: #f5f5f5;
}

.store-image {
  float: left;
  max-width: 40%;
}
.store-image img {
  max-width: 100%;
}

.store-info {
  float: right;
}

.store-name {
  font-size: 40px;
  margin-top: 10px;
}

address {
  font-size: 18px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.buy-button {
  max-width: 80px;
  text-decoration: none;
  border: 1px solid #1abc9c;
  background: #1abc9c;
  height: 20px;
  display: block;
  text-align: center;
  padding: 15px;
  color: white;
}

.buy-button:hover {
  background-color: #44d8bb;
  border-color: #44d8bb;
}

