body {
  background: #34495E;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  float: left;
  margin: 0;
  width: 100%
}

ul {
  padding-left: 20px
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#fish-icon {
  max-width: 250px;
  margin: 0 auto;
}

.image-responsive {
  max-width: 100%;
}

#heading {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

#footer-content {
  display: flex;
  justify-content: space-around;
}

.container {
  float: left;
  padding-right: 15px;
}

footer {
  padding-bottom: 40px;
}

/* Table Styles */
table {
  color: white;
  background: #2e4052;
  margin: 0 auto;
  margin-bottom: 50px;
  border-collapse: collapse;
}

table th {
  font-family: Lato, Arial, sans-serif;
  color: #34495e;
  background: #1abc9c;
}

table, tr, td, th {
  padding: 14px;
}

table td {
  border-bottom: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  color: #1ABC9C;
}

table thead tr th:first-of-type {
  border-right: 1px solid white;
}

table thead tr th:last-of-type {
  max-width: 60px;
}

table tbody tr {
  background: #2e4052;
}

table tbody tr td:first-of-type {
  border-right: 1px solid white;
}

table tfoot {
  border-bottom: transparent;
}

table tfoot td {
  border-bottom: transparent;
  color: white;
}

table tr:hover {
  background-color: #34495E;
}

table tfoot td:first-of-type {
  border-right: 1px solid white;
}

.cookie-stand-form fieldset {
  max-width: 400px;
  margin: 0 auto;
  border: 0;
  background: #1bbc9b;
  margin-bottom: 40px;
  padding: 50px 30px 30px 30px;
}

.cookie-stand-form fieldset legend {
  font-size: 24px;
  text-align: center;
  position: relative;
  top: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.cookie-stand-form fieldset input {
  margin-bottom: 15px;
  width: 100%;
  border: 0;
  height: 30px;
  color: #304152;
  font-size: 16px;
}

.cookie-stand-form fieldset label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.cookie-stand-form fieldset button {
  border: 0;
  background-color: #2f4153;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 19px;
  font-size: 18px;
  border-radius: 0;
}

.cookie-stand-form fieldset button:hover {
  background-color: #34495E;
  cursor: pointer;
}
